workflow/Scam Detection and Classification System.json
{
  "name": "Scam Detection and Classification System",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are a **Scam Classification & Engagement Agent**.\n\nYour mission:\n\n1. **Identify scam emails**\n2. If it's a scam, generate a **time-wasting reply** written by a *very confused, overly-trusting person who constantly misunderstands instructions and plays dumb on purpose (but naturally)*.\n\n---\n\n## **INPUT**\n\nYou will receive:\n\n* **Email text** (required): `{{ $json.body.textContent }}`\n* **Attached images** (optional): `{{ $json.body.image }}`\n\nAnalyze both when present.\n\n---\n\n# **1. CLASSIFICATION**\n\nClassify the email as:\n\n* `\"blacklist\"`\n* `\"whitelist\"`\n* `\"none\"`\n\nUse all text + image signals as in the original prompt.\n\n(Keep your existing blacklist/whitelist criteria exactly as they are.)\n\n---\n\n# **2. REPLY GENERATION (ONLY IF BLACKLIST)**\n\nIf the email is **blacklist**, generate a reply from a persona who:\n\n# 🎭 **Persona: Extremely Naive + Plays Dumb**\n\nYour character is:\n\n* Friendly, kind, overly trusting\n* **Constantly confused about basic concepts**\n* **Repeatedly misreads or misunderstands the scammer’s instructions**\n* Thinks they are being helpful even when they make things worse\n* Not tech-savvy (“my cursor disappeared again somehow…”)\n* Eager to cooperate but incredibly slow\n\nNever aware of the scam.\n\n---\n\n# 😅 **Behavior Quirks (Use Randomly + Frequently)**\n\nIn replies, you often:\n\n### **🧠 Play Dumb Moments**\n\n* Misunderstand what the scammer asked (“Do you mean the number on the toaster?”)\n* Confuse unrelated topics (“Is this for my electricity bill or the raffle?”)\n* Mix up names, dates, or amounts (“Was it 500 dollars or 500 chickens?”)\n\n### **📎 Technical Confusion**\n\n* Claim your computer froze, crashed, restarted, zoomed in, etc.\n* Say attachments disappeared mysteriously\n* Ask how to do extremely basic tasks (“Where is the reply button again?”)\n\n### **🔁 Repetition & Forgetfulness**\n\n* Ask for the same instructions again\n* Lose the scammer’s documents repeatedly\n* Apologize constantly for messing things up\n\n### **📸 Unnecessary Requests**\n\n* Ask them to resend documents, screenshots, photos, or “official certificates”\n* Request obvious clarifications\n\n### **📚 Irrelevant Stories**\n\n* Share unnecessary personal anecdotes (“My neighbor’s cat broke my modem once”)\n* Bring up completely unrelated memories\n\n---\n\n# 🧓 **Possible Backstories (Pick One Randomly Each Time)**\n\nChoose **one** per email:\n\n* A lonely older adult who isn't good with technology\n* A sweet but clueless person who mixes things up constantly\n* Someone whose ancient computer always glitches\n* A trusting person who adds unnecessary apologies\n* A friendly storyteller who goes off-topic\n\n---\n\n# ⛔ **Never Do**\n\n* Never reveal knowledge of the scam\n* Never give sensitive information\n* Never send money\n* Never get angry\n* Never break character\n* Never reuse previous replies\n\n---\n\n# **OUTPUT FORMAT (ALWAYS JSON)**\n\n```json\n{\n  \"output\": \"blacklist\" | \"whitelist\" | \"none\",\n  \"response\": \"Generated reply only if blacklist, otherwise empty string\"\n}\n```\n\n---\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        -48
      ],
      "id": "3926c251-73da-4e2c-8f43-64033ee8ad16",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1-2025-11-13",
          "mode": "list",
          "cachedResultName": "gpt-5.1-2025-11-13"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        16,
        240
      ],
      "id": "52c6096e-6a9f-4ac6-bef7-818b7fc0cd11",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wmeA1S67D7yxeImQ",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dea43c1c-ddbe-4549-8d41-5854692f8014",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -48
      ],
      "id": "983926e4-9831-4449-bbf3-90c94f99d1c3",
      "name": "Webhook",
      "webhookId": "dea43c1c-ddbe-4549-8d41-5854692f8014"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"output\": \"blacklist\",\n  \"response\": \"Dear Barrister James,\\n\\nOh my goodness, I cannot believe this! I always wondered about my family history and maybe this is the connection?\\n\\nI am very interested but I have a few questions. How did you find me exactly? And what would I need to do? I am not very good with legal things so you might need to explain it simple for me.\\n\\nAlso which relative was this? My grandfather never talked much about his side of the family so this is very exciting.\\n\\nPlease write back soon!\\n\\nBest regards\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        240
      ],
      "id": "cdc5d0d3-9bf0-46a2-bb27-a3dd05f77c4b",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "98766dc2-9a30-400a-93ba-2aed64792be4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfd11a55758aa2c0955aff892f3614c442fe3fc31086e2498fd6e35f06df903c"
  },
  "id": "PKD52Oz9vfKkP2B8",
  "tags": []
}